.child{
    width: auto;
    background-color: aliceblue;
    margin-left: 23px;
    max-width: 600px;

}
.child2{
    width: auto;
    color: black;
    background-color: palegoldenrod;
    margin-left: 23px;
    max-width: 580px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}